/**
 * Memory Game - Project for Udacity Frontend Developer Nanodegree
 * @author: Alex Parra
 * @date: 2018-02-18
 */


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  max-width: calc(18vmin * 4);
  margin: 0 auto;
  padding: 20px 0 10px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  width: 100%;
  padding: 0 12px 5px;
  display: flex;
  justify-content: space-between;
}

.score-panel .moves {
  flex: 0 0 33.33%;
}

.score-panel .stars {
  flex: 0 0 33.33%;
  text-align: center;
  color: #FDB41D;
}

.score-panel .stars i {
  padding: 0 2px;
}

.score-panel .timer {
  flex: 0 0 33.33%;
  text-align: right;
}

/*
 * Styles for the deck of cards
 */

.deck-wrap {
  width: 100%;
  position: relative;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0 10px 10px;
  background: linear-gradient(160deg, #217EB8 0%, #0342b6 100%);
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(46, 61, 73, 0.5);
  list-style: none;
}

.deck .card {
  position: relative;
  flex: 0 0 auto;
  width: calc(25% - 10px);
  margin-top: 10px;
  font-size: 0;
  color: #fff;
  cursor: pointer;
  perspective: 1000px;
}

.deck .card span {
  display: block;
  position: relative;
  padding-bottom: 100%;
  pointer-events: none;
  background: #2e3d49;
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transition: 0.6s;
  transform-style: preserve-3d;
}

.deck .card span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  content: "?";
  font-size: 33px;
  opacity: .15;
  backface-visibility: hidden;
}


.deck .card i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  pointer-events: none;
  font-size: 33px;
  opacity: 0;
  backface-visibility: hidden;
}

.deck .card.open i {
  opacity: 1;
}

.deck .card.open span::before {
  opacity: 0;
}

.deck .card:not(.open):hover span {
  background: #003341;
}

.deck .card.open span {
  background: #02b3e4;
  cursor: default;
  transform: rotateY(180deg);
}


.deck .card.open.match {
  animation: tada 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.deck .card.open.match span {
  cursor: default;
  background: #02cc13;
}

.deck .card.open.no-match {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.deck .card.open.no-match span {
  cursor: default;
  background: #cc2a02;
}



.restart {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  transition: all 100ms ease;
}

.restart span {
  display: inline-block;
  cursor: pointer;
  opacity: .6;
}

.restart span:hover {
  opacity: 1;
}

.deck-wrap.finished .restart {
  top: auto;
  bottom: 10px;
  font-size: 15px;
}

.deck-wrap.paused .restart {
  display: none;
}


.deck-wrap .cover-start,
.deck-wrap .cover-finished {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}


.deck-wrap.paused .cover-start {
  opacity: 1;
  pointer-events: auto;
}


.deck-wrap .cover-start .start {
  display: inline-block;
  padding: .5em 2em;
  background-color: #23d160;
  color: #fff;
  border-radius: 3px;
}

.deck-wrap .cover-start .start:hover {
  background-color: #22c65b;
  cursor: pointer;
}



.deck-wrap .cover-finished h2 {
  font-size: 24px;
  color: #02cc13;
}

.deck-wrap .cover-finished p {
  font-size: 15px;
  color: #666;
}

.deck-wrap.finished .cover-finished {
  opacity: 1;
  pointer-events: auto;
}






@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* https://github.com/daneden/animate.css/blob/master/source/attention_seekers/tada.css */
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
